*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}